:root {
    --naranja: rgba(255, 166, 0, 1);
    --azul: rgba(0, 117, 219, 1);
    --azul--animacion: rgb(13, 95, 167);
    --font-family: Arial, sans-serif;
    --font-family--fantansy: fantasy;
  
  }