.home {
    display: block;
    width: 90%;
    margin: auto;
    

}

.home-titulo {
    color: var(--naranja);
    text-shadow: 2px 2px black;
    height: 50px;
    width: 30%;
    margin: auto;

}

.home-imagen {
    border-radius: 50px;
    width: 90%;
    margin-left: 5% ;
    
}

